.container-about{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    font-family: Lexend light,sans-serif;
}
.container-narrow {
  max-width: 930px; 
  margin-top: 40px;
}
.p{
  font-family: 'Roboto Mono', monospace;
}

.d-flex {
  margin-left: 65px;
}

.flex-column {
  margin-top: 35px; 
}

.imagen-nico {
  max-width: 300px;
  border-radius: 30%; 
  border: 3px solid #ccc; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  transition: border-color 0.5s; 
}
.imagen-nico:hover {
  border-color:  #e2630e;
}
.hr-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-hr {
  border: 10px;
  justify-content: center;
  height: 5px; 
  width: 50%;
  background-color: #e2630e; 
  margin: 10px 0; 
}

.custom-link {
  text-decoration: none;
}

